LockedAside {
  width: 18;
}

LockedAside > Button {
  width: 100%;
}

LockedUnlockVault {
  height: 100%;
  align: center middle;
}

LockedVaultTitle {
  text-align: center;
  width: 100%;
  height: 3;
  text-style: bold;
}

.password-container {
  width: 50%;
  height: 50%;
  padding: 5;
}

.open-button {
  width: 100%;
  margin: 1;
}
